# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# Node / React
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Virtual Environment
env/
venv/
ENV/
bin/
lib/
include/
